{% extends 'base.html' %}

{% block content %}

  <main class="container py-5">
    <section class="card card-body">
      <h1 class="display-1 text-center">Django App Tasks List</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, autem. Laborum ullam doloremque modi
        doloribus
        voluptatibus ab consequatur, quia neque accusantium quidem incidunt maxime iusto dolor illum, velit distinctio,
        ratione beatae! Perferendis, odit asperiores quibusdam esse labore saepe repellendus magnam sint minima minus. Ipsum
        ducimus repellendus perferendis officiis provident pariatur atque aliquam aperiam expedita repellat! Facere
        consequatur fuga rerum quam ea doloribus sapiente iste itaque culpa, error, eos eveniet, sed asperiores ratione! A
        est
        quia cumque dolor deleniti velit quas ipsum corporis accusantium odit in, non sint eligendi, voluptatem placeat
        dicta
        repellendus soluta dignissimos. Ea aspernatur modi iure earum iusto?</p>
    </section>

    <div class="text-center">
      <a class="btn btn-secondary" href="/signin/">
        Signin
      </a>
      <a class="btn btn-dark" href="/signup/">
        Signup
      </a>
    </div>

  </main>
{% endblock %}
